* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 70%;
  box-sizing: border-box;
}

body {
  font-family: "Crimson", sans-serif;
  /* font-weight: 100; */
  color: #ff0000;
  background-color: #a53434;
  height: 100vh;
  padding: 2rem;
}

.name {
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: 500;
}
